.navbar-brand img{
    height: 28px;
}
.bs-example {
  margin: 20px;
}

.redes{
    font-size: 36px;
    vertical-align: bottom;
    padding-left: 0px;
}

.inicio {
  height: 550px;
  width: 550px;
  margin-top: 20px;
}

.inicioSide{
  width: 150px;
  height: 120px;
  background: red;
  color: #f2f2f2;
  padding: 10px;
  margin: 20px auto;
}

.logo{
    padding-left: 32px;
}
.menuSection .divisor{
  background-color: black;
  min-height: 35px;
}
.menuSection .menu{
  background-color: #fdb238;
  border: 5px dotted black;
  min-height: 700px;
  margin-left: -55px;
  margin-top: 80px;
  padding-left: 2.3%;
  z-index: 2;
}
.menuSection .menu table{
  margin: 0 20px 0 0;
}
.menuSection .menu th{
  font-size: 40px;
  text-align: center;
  padding-left: 25px;
  padding-top: 24px;
}
.menuSection .menu td{
  font-size: 32px;
  text-align: left;
  padding-left: 9%;
}
.menuSection .menu .nota{
  font-size: 20px;
  text-align: left;
}
.menuSection .menuImg img{
  height: 550px;
  width: 550px;
  margin-top: 20px;
}
.menuSection .menuImg{
  z-index: 4;
}
.menuSection .menuImg .oval {
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 100px / 50px;
  color: white;
  margin: 21% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dotted black;
  transform: skew(-20deg);
}
.menuSection .menuImg .oval a{
  color: white;
  font-size: 28px;
}
.menuSection .menuSide .parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: red;
  color: #f2f2f2;
  padding: 20px;
  margin: 20px auto;
}


/*768px o mas*/
@media (min-width:768px){
    .topnav img{
        vertical-align: baseline;
        text-align: right;
        width: 218px;
        height: 48px;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }    
