.navbar-brand img{
    height: 28px;
}

.menuNav{
  margin-right: -15px;  
}

.rowDir{
  margin-right: 0;
}
.dir{
    font-size: 16px;
    vertical-align: middle;
    color: #24225c;
    margin-left: 20px;
    text-align: center;
    background-color: cadetblue;
    width: 100%;

}

.inicio-logo{
  width: 100%;
  height: 13%;
  margin-top: 20px;
  margin-right: 0;
  padding: 0;
  background-color: black;
}

.inicio-logo img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.presentacion .inicio img{
  max-width: 100%;
  max-height: 100%;
  display: block;

}

.inicioTexto{
  padding-right: 0;
}

.inicio {
  margin-top: 20px;
  padding: 0; 
}

.inicioSide h2 {
  font-size: 28px;
  color: #24225c;
  line-height: 0.95;
  font-family: "Lucida Console", Monaco, monospace;
  text-transform: uppercase;
  font-weight: bolder;
}

.inicioSide{
  transform: rotate(-9deg) skewX(-9deg);
  margin-top: 36px;
  margin-left: 25%;
  margin-bottom: 36px;
}

.esca-side{
  margin-left: 0.5em;
}


.logo{
    padding-left: 32px;
}
.menuSection .row{
  margin-bottom: 25px;
}
.menuSection .divisor{
  background-color: black;
  min-height: 35px;
}
.menuSection .menu{
  background-color: #fdb238;
  border: 5px dotted black;
  min-height: 700px;
  margin-left: -55px;
  margin-top: 80px;
  padding-left: 2.3%;
  z-index: 2;
}
.menuSection .menu table{
  margin: 0 20px 0 0;
}
.menuSection .menu th{
  font-size: 40px;
  text-align: center;
  padding-left: 25px;
  padding-top: 24px;
}
.menuSection .menu td{
  font-size: 32px;
  text-align: left;
  padding-left: 9%;
}
.menuSection .menu .nota{
  font-size: 20px;
  text-align: left;
}
.menuSection .menuImg img{
  height: 550px;
  width: 550px;
  margin-top: 20px;
}
.menuSection .menuImg{
  z-index: 4;
}
.menuSection .menuImg .oval {
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 100px / 50px;
  color: white;
  margin: 21% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dotted black;
  transform: skew(-20deg);
}
.menuSection .menuImg .oval a{
  color: white;
  font-size: 28px;
}
.menuSection .menuSide .parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: red;
  color: #f2f2f2;
  padding: 20px;
  margin: 20px auto;
}



/*768px o mas*/
@media (min-width:768px){
  .presentacion {
    margin-left: 18px;
    margin-right: 18px;
    padding-right: 0;
  }
  
  .menuNav{
    margin-left: 18px;
    margin-right: 18px;
    padding-right: 0;
  }
  .inicioSide{
    margin-top: 18px;
    margin-bottom: 16px;
  }
  .inicioSide h2{
    font-size: 14px;
  }
  .dir{
    font-size: 13px;
    margin-left: 15px;
  }
  .rowDir{
    margin-right: -11px;
  }
}

/*1024px o mas*/
@media (min-width:1024px){
  .presentacion {
    margin-left: 84px;
    margin-right: 84px;
    padding-right: 0;
  }
  
  .menuNav{
    margin-left: 84px;
    margin-right: 84px;
    padding-right: 0;
  }
  .inicioSide h2{
    font-size: 18px;
  }
  .inicioSide{
    margin-top: 18px;
    margin-bottom: 16px;
  }
  .dir{
    font-size: 15px;
  }
  
}

/*1440px o mas*/
@media (min-width:1440px){
  .presentacion {
    margin-left: 125px;
    margin-right: 125px;
    padding-right: 0;
  }
  
  .menuNav{
    margin-left: 125px;
    margin-right: 125px;
    padding-right: 0;
  }
  .inicioSide{
    margin-top: 36px;
    margin-bottom: 22px;
  }
  .inicioSide h2{
    font-size: 38px;
  }
}

/* 1650 o más */
@media (min-width:1650px){
  .inicioSide h2 {
    font-size: 48px;
    padding-left: 0;
  }

  .dir{
    font-size: 32px;
    width: 150%;
  }
  .rowDir{
    margin-right: -45px;
  }
}