.menu{
    font-size: 58px;
}

.menu img{
    vertical-align: baseline;
    text-align: right;
}

.redes{
    font-size: 36px;
    vertical-align: bottom;
    padding-left: 0px;
}

.logo{
    padding-left: 32px;
}